<web-app>
<servlet>
<servlet-name>Temp249</servlet-name>
<servlet-class>Temp249</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Temp249</servlet-name>
<url-pattern>/Temp249</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Temp254</servlet-name>
<servlet-class>Temp254</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Temp254</servlet-name>
<url-pattern>/Temp254</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Temp250</servlet-name>
<servlet-class>Temp250</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Temp250</servlet-name>
<url-pattern>/Temp250</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Temp253</servlet-name>
<servlet-class>Temp253</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Temp253</servlet-name>
<url-pattern>/Temp253</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Temp251</servlet-name>
<servlet-class>Temp251</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Temp251</servlet-name>
<url-pattern>/Temp251</url-pattern>
</servlet-mapping>

</web-app>
